body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f5e6cc; /* Амбер-бежевий */
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px;
}

#reasons, #about-breed {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px); /* Скляний ефект */
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
